.topic-detail-info{
    background-color: #fff;
}
.detail-con{
    height:px2rem(800px);
    width:100%;
    background-size:100% 100%;
    position:relative;
}
.detail-title{
    position:absolute;
    margin:0;
    left:0;
    right:0;
    bottom:0;
    font-size:px2rem(100px);
    color:#fff;
    background-color: rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
    word-break: break-all;
}
.detail-content{
    margin:0;
    padding:px2rem(40px);
    font-size:px2rem(36px);
    color:#878787;
}
.support-side-con{
    height:px2rem(160px);
    width:100%;
    z-index:10;
    margin:px2rem(20px) 0 0;
}
.support-side{
    color:#ffffff;
    display:flex;
    justify-content: space-around;
    height:px2rem(160px);
    width:100%;
}
.pro-side,.con-side{
    width:100%;
    text-align:center;
    display:flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-size:px2rem(60px);
}

.pro-side{
    background-color: #2969ff;
    background-image: url("../img/pros.png");
    background-position: center left;
}
.con-side{
    background-color: #ff2a2a;
    background-position: center right;
    background-image: url("../img/cons.png");
}
.vs-con{
    height:px2rem(160px);
    width:0;
    position:relative;
    z-index:120;
}
.vs{
    position:absolute;
    left:px2rem(-30px);
    background-image:url("../img/lightning.png");
    width:px2rem(60px);
    height:px2rem(180px);
    background-size:px2rem(60px) px2rem(180px);
    background-repeat: no-repeat ;
}
.comment-head{
    height:px2rem(160px);
    font-size:px2rem(60px);
    line-height: px2rem(160px);
}
.all-comment-count{
    margin-left:px2rem(40px);
}
.comment-filter{
    background-image:url("../img/filter_v1.1.png");
    width:px2rem(200px);
    height:px2rem(140px);
    display:inline-block;
    background-repeat: no-repeat;
    position:relative;
    top:px2rem(80px);
    margin-left: px2rem(100px);
    float:right;
}
